.answer-list-form-block-container {
    width: 70%;
}
.answer-list-form-block-add-container {
    display: flex;
    align-items: flex-start;
    width: fit-content;
}
.answer-list-form-block-add {
    margin-right: 10px;
    width: 200px;
}
.answer-list-form-block-other {
    color: #1a73e8;
    font-weight: 400;
    cursor: pointer;
}