.answer {
    width: 100%;
    /* cursor: pointer; */
    min-height: 40px;
    height: fit-content;
    position: relative;
    /* display: flex; */
}
.answer-text {
    display: flex;
    flex-shrink: 1;
    font-size: 16pt;
}
.answer-container {
    display: flex;
    align-items: flex-start;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* width: fit-content; */
    height: 100%;
    position: relative;
    width: 100%;
    /* width: 300px; */
    /* cursor: pointer; */
    /* background-color: red; */
}
.answer-container.__readonly {
    align-items: flex-start;
}
.answer-circle {
    width: 30px;
    height: 30px;
    border-radius: 17px;
    border: 2px solid rgb(180, 180, 180);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}
.answer-checkbox {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(180, 180, 180);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}
.answer-circle-selected {
    border-color: var(--dark-grey);
}
.answer-input {
    font-size: 20pt;
    outline: none;
    border: none;
    /* width: 100px; */
    width: 100%;
}
.answer-input:focus {
    border-bottom: 2px solid grey;
    margin-top: 2px;
}
.answer-delete {
    right: -70px;
    top: 0px;
    width: fit-content;
    position: absolute;
    color: grey;
    transition: color 0.3s ease;
    cursor: pointer;
}
.answer-delete:hover {
    color: var(--light-red);
}
.answer-circle-selected-inner {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--dark-grey);
}
.answer-checkbox-selected-inner {
    color: var(--dark-grey);
}
.answer-input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}
.answer-input-score {
    width: fit-content;
    margin-right: 10px;
    margin-left: 5px;
}
.answer-input-score-input {
    width: 40px;
}
.answer-input-score-container {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    margin-right: 25px;
}