.answer {
    width: 100%;
    /* cursor: pointer; */
    height: 40px;
    position: relative;
}
.answer-container {
    display: flex;
    /* align-items: center; */
    /* align-items: flex-end; */
    align-items: flex-start;
    width: fit-content;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.answer-circle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 2px solid rgb(180, 180, 180);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(180, 180, 180);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-circle-selected {
    border-color: var(--dark-grey);
}
.answer-input {
    font-size: 14pt;
    outline: none;
    border: none;
    width: 170px;
}
.answer-input:focus {
    border-bottom: 2px solid grey;
    margin-top: 2px;
}
.answer-delete {
    right: 0px;
    top: 5px;
    width: fit-content;
    position: absolute;
    color: grey;
    transition: color 0.3s ease;
    cursor: pointer;
}
.answer-delete:hover {
    color: var(--light-red);
}
.answer-circle-selected-inner {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: var(--dark-grey);
}
.answer-checkbox-selected-inner {
    color: var(--dark-grey);
}
.answer-input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.answer-input-score {
    width: fit-content;
    margin-right: 10px;
    margin-left: 5px;
}
.answer-input-score-input {
    width: 30px;
}
.answer-input-score-container {
    display: flex;
    align-items: flex-start;
}