.auth {
    height: fit-content;
    width: 100%;
    font-size: 18pt;
}
.auth-margin {
    height: 20px;
}
.auth-form-element {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.auth-form-element.hidden {
    max-height: 0px;
}

.auth-form-element-container {
    display: flex;
    width: 100%;
}
.auth-form-element-input {
    /* background-color: red; */
    margin-left: 20px;
    width: 100%;
    flex-shrink: 1;
    transition: all 0.3s ease;
    font-size: 22pt;
}
.auth-form-element-text {
    width: fit-content;
    white-space: nowrap;
    font-size: 22pt;
}
.auth-form-element-button-container {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-top: 10px;
    float: right;
}
.auth-form-element-button {
    font-size: 20pt;
    transition: all 0.3s ease;
}
@media (max-width: 400px) {
    .auth-form-element-button {
        font-size: 10pt;
    }
    .auth-form-element-input {
        font-size: 12pt;
    }
    .auth-form-element-text {
        font-size: 12pt;
    }
}