.button-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.button-text {
    width: fit-content;
    height: fit-content;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    transition: opacity 0.3s ease;
}
.button-spinner {
    position: absolute;
    color: grey;
}
.button-spinner.__small {
    transform: scale(0.6);
}
.button-container.button1 {
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--purple-form);
    padding: 10px;
    font-size: 20pt;
    color: var(--purple-form);
}
.button-container.button1.__enabled:hover {
    background-color: var(--background-purple);
}
.button-container.button2 {
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    color: white;
    background-color: var(--purple-form);
    font-size: 20pt;
    font-weight: bold;
}
.button-container.button2.__waiting {
    cursor: default;
}

.button-container.__enabled.button2:hover {
    background-color: white;
    color: var(--purple-form);
    border-color: var(--purple-form);
}
.button-container.button3 {
    font-weight: bold;
    font-size: 25pt;
    color: white;
    background-color: var(--purple-form);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--purple-form);
}
.button-container.button3.__enabled:hover {
    color: var(--purple-form);
    background-color: white;
}
.button-container.button3.__waiting {
    cursor: default;
}
.button-container.button-delete {
    border-radius: 7px;
    padding: 5px;
    color: var(--light-red);
    border: 2px solid var(--light-red);
    font-size: 14pt;
    font-weight: bold;
    background-color: white;
}
.button-container.button-delete.__enabled:hover {
    background-color: var(--light-red);
    color: white;
}
.button-container.button-edit {
    border-radius: 7px;
    padding: 5px;
    color: var(--light-blue);
    border: 2px solid var(--light-blue);
    font-size: 14pt;
    background-color: white;
    font-weight: bold;
}
.button-container.button-edit.__enabled:hover {
    background-color: var(--light-blue);
    color: white;
}

.button-container.__disabled {
    cursor: default;
    border-color: var(--light-grey);
    color: var(--light-grey);
    background-color: white;
}
.button-container.__waiting {
    cursor: default;
}
.button-container.button2.__disabled {
    border-color: var(--purple-form);
    color: var(--purple-form);
}