.cabinet-spoiler-container {
    display: flex;
    max-width: 70%;
}
.cabinet-spoiler:first-of-type {
    margin-right: 50px;
}
.cabinet-spoiler-children-container {
    width: fit-content;
    height: fit-content;
    padding: 5px;
}
.cabinet-header {
    font-size: 50pt;
    font-weight: bold;
    color: var(--purple-form);
    margin-bottom: 50px;
    cursor: default;
    margin-top: 20px;
}

.cabinet-element-name-container.__create {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.cabinet-element-button {
    width: fit-content;
    height: fit-content;
    margin: 5px;
}
.cabinet-element-table {
    border-collapse: collapse;
}
.cabinet-element-table-td {
    padding: 5px;
    max-width: 250px;
}