.groups-block-button {
    border: 1px solid var(--purple-form);
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: 5px;
    color: var(--purple-form);
}
.groups-block-button.__single {
    width: calc(100% - 30px);
    text-align: center;
}
.groups-block-button:hover {
    background-color: var(--background-purple);
}
.groups-block-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}