.groups-block-button {
    width: fit-content;
    height: fit-content;
    margin: 5px;
}
.groups-block-button.__single {
    width: calc(100% - 30px);
    text-align: center;
}
.groups-block-button:hover {
    background-color: var(--background-purple);
}
.groups-block-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}