.header {
    height: fit-content;
    width: 100%;
    display: flex;
    background-color: var(--purple-form);
}
.header-container {
    height: fit-content;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
@media (max-width: 1000px) {
    .header-container {
        align-items: center;
        flex-direction: column;
    }
    .header-logo {
        margin-bottom: 20px;
    }
}
.header-logo {
    text-transform: uppercase;
    color: white;
    font-size: 40pt;
    /* margin: auto; */
    width: fit-content;
    cursor: pointer;
    white-space: nowrap;
}
.header-buttons {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-end;
    transition: all 0.3s ease;
}

.header-login {
    width: fit-content;
}
.header-email {
    color: white;
    font-size: 20pt;
    margin-right: 20px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}
.header-email.__auth:hover {
    color: var(--background-purple);
}
.header-email.__auth {
    text-decoration: underline;
}
@media (max-width: 650px) {
    .header-buttons {
        flex-direction: column;
    }
    .header-email {
        font-size: 16pt;
        margin: auto;
        margin-bottom: 30px;
    }
    .header-login {
        width: 100%;
    }
}