.img-form-block-img {
    width: 100%;
    margin: auto;
}
.img-form-block-img-container {
    width: 100%;
    height: fit-content;
}
.img-form-block-input {
    width: 100%;
    max-height: 100px;
    transition: all 0.3s ease;
    overflow: hidden;
}
.img-form-block-input.__hidden {
    max-height: 0px;
}