.methodic-form {
    background-color: var(--background-purple);
    width: 100%;
    height: max-content;
    position: relative;
}
.methodic-form-save-button {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}
.methodic-form-name-container {
    display: flex;
    max-height: 100px;
    transition: all 0.3s ease;
    overflow: hidden;
}
.methodic-form-name-container.__hidden {
    max-height: 0px;
}
.methodic-form-container {
    width: 800px;
    margin: 0px auto;
}
.methodic-form-block {
    background-color: white;
    border-radius: 7px;
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid var(--light-grey);
    background: linear-gradient(90deg, #4285f4 0.7%, white 0.7%), white;
    background-position: -8px 0px;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
}
.methodic-form-block:first-of-type {
    margin-top: 0px;
}
.methodic-form-block-active {
    background-position: 0 0;
    animation: active-block 0.3s ease 0s 1 alternate forwards;
    box-shadow: 0 1px 2px var(--light-grey);
}
.methodic-form-block-new-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.methodic-form-block-action {
    margin: 3px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    transition: border 0.2s ease, background 0.2s ease;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 2px var(--light-grey);
}
.methodic-form-block-action:hover {
    background-color: var(--light-grey);
}
.methodic-form-block-footer {
    max-height: 100px;
    transition: all 0.3s ease;
    overflow: hidden;
}
.methodic-form-block-footer.hidden {
    max-height: 0px;
}
.methodic-form-block-line {
    height: 1px;
    width: 100%;
    background-color: var(--light-grey);
    margin-top: 15px;
    margin-bottom: 15px;
}
.methodic-form-block-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.methodic-form-block-bin {
    padding: 1px;
    font-size: 20pt;
    transform: scaleX(1.5);
    color: grey;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.methodic-form-block-vline {
    width: 1px;
    height: 30px;
    background-color: var(--light-grey);
    margin-left: 20px;
    margin-right: 20px;
}
.methodic-form-meta-block {
    margin-top: 0px;
}