.question-form-input {
    display: flex;
    margin-bottom: 15px;
}
.question-form-inputarea {
    font-size: 18pt;
}
.question-form-required {
    color: red;
}
.question-form-number {
    font-size: 20pt;
    margin-right: 5px;
    width: fit-content;
    display: flex;
}
.question-form-flex {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.question-form-constructor {
    height: 0;
    overflow: hidden;
}
.question-form-constructor-active {
    overflow: visible;
}
.question-form-ansmode-select {
    width: 270px;
}
.question-form-answer-type-select {
    width: 300px;
    /* margin-left: 30px; */
}
.question-form-block-line {
    height: 1px;
    width: 100%;
    background-color: var(--light-grey);
    margin-top: 15px;
    margin-bottom: 15px;
}
.question-form-block-reverse {
    margin-left: 20px;
}
.question-form-block-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.question-form-block-vline {
    width: 1px;
    height: 30px;
    background-color: var(--light-grey);
    margin-left: 20px;
    margin-right: 20px;
}
.question-form-block-bin {
    padding: 1px;
    font-size: 20pt;
    transform: scaleX(1.5);
    color: grey;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}