.research-page {
    background-color: var(--background-purple);
    background-attachment: fixed;
    width: 100%;
    
    /* background-color: red; */
}
.research-container {
    /* width: 95%; */
    width: 800px;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 20px;
}
@media (max-width: 800px) {
    .research-page {
        width: 100%;
    }
    .research-container {
        width: 95%;
    }
}
.research-loading-text {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    color: var(--purple-form);
    margin-top: 20%;
}

.research-loading-spinner {
    transform: scale(3);
    margin: auto;
    width: fit-content;
    margin-top: 100px;
}
.research-name {
    color: var(--purple-form);
    font-size: 50pt;
    width: 100%;
}
.research-description {
    width: 100%;
    font-size: 25pt;
    margin-top: 20px;
}
@media (max-width: 800px) {
    .research-name {
        font-size: 30pt;
    }
    .research-description {
        font-size: 20pt;
    }
}
.research-meta-container {
    width: 100%;
    margin: auto;
    border: 3px solid var(--purple-form);
    padding: 20px;
    border-radius: 10px;
}
.research-begin-button {
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 50px;
}