.results-flag {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
.results-table-empty {
    font-size: 30pt;
    padding: 20px;
}
.results-block-container {
    width: fit-content;
    display: flex;
}
.results-groups-container {
    margin-top: 100px;
    max-width: 40%;
    flex-shrink: 1;
    font-size: 14pt;
}
.results-download {
    margin: 5px;
    width: fit-content;
    height: fit-content;
}
.results-download:hover {
    background-color: var(--background-purple);
}
.results-statistic {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}